/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        newlayer_tap: newlayer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "NEWLAYER_TAP";
            bindings =
                <&mo>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
            quick-tap-ms = <290>;
        };
        cadet_hold_tap: cadet_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "CADET_HOLD_TAP";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
        };
        caps_hard_press: caps_hard_press {
            compatible = "zmk,behavior-sticky-key";
            label = "CAPS_HARD_PRESS";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <200>;
            quick-release;
            ignore-modifiers;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&kp GRAVE                       &kp Q  &kp W  &kp F             &kp P                        &kp B           &kp J                &kp L                      &kp U                   &kp Y    &kp SEMICOLON  &kp SINGLE_QUOTE
&cadet_hold_tap LEFT_SHIFT TAB  &kp A  &kp R  &kp S             &kp T                        &kp G           &kp M                &kp N                      &kp E                   &kp I    &kp O          &cadet_hold_tap RIGHT_SHIFT ENTER
&kp LEFT_ALT                    &kp Z  &kp X  &kp C             &kp D                        &kp V           &kp K                &kp H                      &kp COMMA               &kp DOT  &kp FSLH       &kp MINUS
                                              &kp LEFT_CONTROL  &cadet_hold_tap LCTRL SPACE  &kp LEFT_GUI    &newlayer_tap 3 TAB  &newlayer_tap 2 BACKSPACE  &newlayer_tap 3 DELETE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "NUMFUN";
            bindings = <
&kp ESCAPE      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &none
&kp LEFT_SHIFT  &none         &none         &kp COMMA         &kp PERIOD    &none           &none         &kp MINUS     &kp PLUS      &none         &none         &kp F12
&kp LEFT_ALT    &kp F1        &kp F2        &kp F3            &kp F4        &kp F5          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       &kp F11
                                            &kp LEFT_CONTROL  &trans        &kp LEFT_GUI    &kp TAB       &kp DELETE    &kp DELETE
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "SYMNAV";
            bindings = <
&kp ESCAPE    &kp NUMBER_1      &kp NUMBER_2       &kp NUMBER_3     &kp NUMBER_4           &kp NUMBER_5    &kp NUMBER_6               &kp NUMBER_7  &kp NUMBER_8   &kp N9     &kp N0     &kp BACKSLASH
&kp LSHFT     &kp LESS_THAN     &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp LEFT_PARENTHESIS   &kp EQUAL       &caps_hard_press CAPSLOCK  &kp LEFT      &kp DOWN       &kp UP     &kp RIGHT  &caps_word
&kp LEFT_ALT  &kp GREATER_THAN  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp PLUS        &none                      &kp HOME      &kp PAGE_DOWN  &kp PG_UP  &kp END    &kp UNDER
                                                   &kp LCTRL        &kp DELETE             &kp LGUI        &kp TAB                    &trans        &kp DEL
            >;
        };

        adjust_layer {
            bindings = <
&bt BT_CLR    &bt BT_SEL 0          &bt BT_SEL 1          &bt BT_SEL 2       &bt BT_SEL 3     &bt BT_SEL 4    &trans    &trans         &trans      &trans  &trans   &kp C_SLEEP
&trans        &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE      &kp C_PP  &kp C_PREV     &kp C_NEXT  &trans  &trans   &kp F12
&kp LEFT_ALT  &kp F1                &kp F2                &kp F3             &kp F4           &kp F5          &kp F6    &kp F7         &kp F8      &kp F9  &kp F10  &kp F11
                                                          &kp LCTRL          &kp SPACE        &kp LEFT_GUI    &trans    &kp BACKSPACE  &trans
            >;

            label = "Adjust";
        };
    };
};
